<nav class="teal lighten-3">
  <div class="navbar-wrapper">
    <a href="" class="navbar-title">Mar&iacute;a&#95;Agust&iacute;n</a>

    <a materialize="sideNav" [materializeParams]="sideNavParams" [materializeActions]="sideNavActions" data-activates="nav-mobile"
      class="button-collapse hide-on-large-only">
      <i class="material-icons white-text">menu</i>
    </a>

    <ul class="right hide-on-med-and-down">
      <li *ngFor="let menuItem of menuItems" routerLinkActive="active">
        <a [routerLink]="menuItem.route">{{ menuItem.name | uppercase }}</a>
      </li>
    </ul>

    <ul id="nav-mobile" class="side-nav teal lighten-3">
      <li>
        <a>
          <i class="material-icons white-text" (click)="close()">close</i>
        </a>
      </li>
      <li *ngFor="let menuItem of menuItems" routerLinkActive="active">
        <a [routerLink]="menuItem.route" class="white-text" (click)="close()">{{ menuItem.name | uppercase }}</a>
      </li>
      <div class="divider">

      </div>
    </ul>
  </div>
</nav>
