<nav>
  <div class="nav-wrapper">
    <a routerLink="home" class="brand-logo">Mar&iacute;a y Agust&iacute;n</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a routerLink="where" routerLinkActive="active">Dónde</a></li>
      <li><a routerLink="home"routerLinkActive="active">Vestuario</a></li>
      <li><a routerLink="gift" routerLinkActive="active">Regalo</a></li>
      <li><a routerLink="confirm" routerLinkActive="active">¡Me apunto!</a></li>
    </ul>
  </div>
</nav>
