<div class="main-container">
<section class="valign-wrapper">
  <div class="row center-align">
    <p class="section-paragraph grey-text text-darken-3">
      Nos conocimos en Málaga y dimos nuestros primeros paseos por la orilla del río.
    </p>
  </div>
</section>
<div class="parallax-container">
  <div class="valign-wrapper h100">
    <div materialize="parallax">
      <img src="assets/img/abades-mesa.jpg">
    </div>
  </div>
</div>
<section class="valign-wrapper">
  <div class="row center-align">
    <p class="grey-text text-darken-3 section-paragraph">
      Por eso os invitamos a celebrar nuestra boda en este lugar tan especial.
    </p>
  </div>
</section>
<div class="parallax-container">
  <div class="valign-wrapper h100">
    <div class="parallax grey lighten-1" materialize="parallax">
      <img src="assets/img/abades-noche.jpg">
    </div>
  </div>
</div>
<section class="valign-wrapper">
  <div class="row container center-align">
    <p class="grey-text text-darken-3 section-paragraph">Os esperamos en el Restaurante Abades Triana</p>
  </div>
</section>
<agm-map [latitude]="lat" [longitude]="lng" [zoom]="18">
  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map>
</div>
