<div class="main-container">
  <section class="valign-wrapper">
    <div class="row container center-align">
      <h5 class="story-header">Porque hace tiempo que nuestra vida sigue un mismo camino</h5>
    </div>
  </section>
  <img class="w100" src="assets/img/audrey.png">
  <section class="valign-wrapper">
    <div class="row container center-align">
      <h5 class="story-header">Hemos decidido embarcarnos en un nuevo viaje</h5>
    </div>
  </section>
  <img class="w100" src="assets/img/vejer.png">
  <section class="valign-wrapper">
    <div class="row container center-align">
      <h5 class="story-header">¡Nos casamos!</h5>
    </div>
  </section>
  <img class="w100" src="assets/img/granada.png">
  <section class="valign-wrapper">
    <div class="row center-align">
        <h5 class="story-header">
        Y dentro de nuestra maleta hemos guardado un gran hueco para que podáis compartir con nosotros esta gran aventura.
        </h5>
    </div>
  </section>
  <img class="w100" src="assets/img/catedral.png">
</div>
