<div class="small-section white valign-wrapper">
  <div class="row center-align">
    <p class="grey-text text-darken-3 lighten-3 section-paragraph">
      Porque hace años que nuestra vida sigue un mismo camino
    </p>
  </div>
</div>
<div class="parallax-container">
  <div class="valign-wrapper h100">
    <div class="parallax grey lighten-1" materialize="parallax">
      <img src="assets/img/audrey.png">
    </div>
  </div>
</div>
<div class="section white valign-wrapper">
  <div class="row container center-align">
    <h5 class="story-header">Hemos decidido embarcarnos en un nuevo viaje</h5>
  </div>
</div>
<div class="parallax-container">
  <div class="valign-wrapper h100">
    <div class="parallax grey lighten-1" materialize="parallax">
      <img src="assets/img/canarias.png">
    </div>
  </div>
</div>
<div class="section white valign-wrapper">
  <div class="row container center-align">
    <h5 class="story-header">¡Nos casamos!</h5>
  </div>
</div>
<div class="parallax-container">
  <div class="valign-wrapper h100">
    <div class="parallax grey lighten-1" materialize="parallax">
      <img src="assets/img/granada.png">
    </div>
  </div>
</div>
<div class="small-section white valign-wrapper">
  <div class="row center-align">
    <p class="grey-text text-darken-3 lighten-3 section-paragraph">
      Y dentro de nuestra maleta hemos guardado un gran hueco para que podáis compartir con nosotros esta gran aventura.
    </p>
  </div>
</div>
<div class="parallax-container">
  <div class="valign-wrapper h100">
    <div class="parallax grey lighten-1" materialize="parallax">
      <img src="assets/img/catedral.png">
    </div>
  </div>
</div>
