<div class="container">
  <div class="row">
    <p class="col s12">
      Parece que nos falta alguno de tus datos de contacto, ¿nos los completas?
    </p>
    <p class="col s12">
        También puedes aprovechar para actualizar los que tenemos.
      </p>
  </div>
  <div class="row">
    <form class="col s12" (ngSubmit)="submit()" #userForm="ngForm">
      <div class="input-field col s12">
        <i class="material-icons prefix">account_circle</i>
        <input id="username" type="text" placeholder="Nombre" class="validate" [(ngModel)]="user.name" name="username" required>
        <label for="icon_username" class="active">Nombre y apellidos</label>
      </div>
      <div class="input-field col s12">
        <i class="material-icons prefix">phone</i>
        <input id="phone" placeholder="+34999999999" type="tel" class="validate" [(ngModel)]="user.phone" name="phone" required>
        <label for="icon_telephone" class="active">Teléfono</label>
      </div>
      <div class="input-field col s12">
        <i class="material-icons prefix">mail</i>
        <input id="mail" type="email" placeholder="mi@email.com" class="validate" [(ngModel)]="user.email" name="email" required [disabled]="user.email">
        <label for="icon_mail" class="active">Email</label>
      </div>
      <div class="col s12 center">
          <button type="submit" class="waves-effect waves-light btn-large"
          [disabled]="!userForm.form.valid">Ya esta</button>
      </div>
    </form>
  </div>
</div>
