<div class="container">
  <div class="row">
    <p class="col s12">
      {{user.name}} necesitamos saber estas cosas para organizar bien la boda, ¿nos las respondes?
    </p>
    <p class="col s12">
      Por supuesto puedes cambiar tus respuestas cuando quieras hasta el día _día_
    </p>
  </div>
  <div class="row">
    <form class="col s12" [formGroup]="preferences" novalidate>
      <div class="row">
        <span class="col s6">¿C&oacute;mo vienes?</span>
        <!-- Switch -->
        <div class="col s6 switch">
          <label>
            Solo
            <input type="checkbox" formControlName="accompanied">
            <span class="lever"></span>
            Acompañado
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col s12" *ngIf="preferences.get('accompanied').value;else not_accompanied">
          Estupendo, cuanto más seamos, más divertido :)
        </div>
        <ng-template #not_accompanied>
          <div class="col s12">
            Si al final traes acompañante, ¡no te olvides de avisarnos!
          </div>
        </ng-template>
      </div>
      <div class="row">
        <span class="col s6">¿Traes niños?</span>
        <!-- Switch -->
        <div class="col s6 switch">
          <label>
            No
            <input type="checkbox" formControlName="children">
            <span class="lever"></span>
            Si
          </label>
        </div>
      </div>
      <div class="row" *ngIf="preferences.get('children').value">
        <span class="col s6">
          ¿Cuántos?
        </span>
        <div class="col s6">
          <select formControlName="numberOfChildren" materialize="material_select">
            <option value="" disabled class="selectOption">Selecciona</option>
            <option value="1" class="selectOption">1</option>
            <option value="2" class="selectOption">2</option>
            <option value="3" class="selectOption">3</option>
          </select>
        </div>
      </div>
      <div class="row">
        <span class="col s12" *ngIf="preferences.get('accompanied').value || preferences.get('children').value; else special_need">
          ¿Tenéis alguna necesidad especial o alergia alimentaria?
        </span>
        <ng-template #special_need>
          <div class="col s12">
            ¿Tienes alguna necesidad especial o alergia alimentaria?
          </div>
        </ng-template>
        <div class="col s12">
          <textarea id="textarea1" class="materialize-textarea" formControlName="specialNeeds"></textarea>
        </div>
      </div>
      <div formArrayName="songs" class="row">
        <div *ngFor="let song of preferences.controls.songs.controls; let i=index">
          <div>
            <span>Canción {{i + 1}}</span>
            <span *ngIf="preferences.controls.songs.controls.length > 1" (click)="removeSong(i)">
            </span>
          </div>

          <!-- Angular assigns array index as group name by default 0, 1, 2, ... -->
          <div [formGroupName]="i">
            <!--street-->
            <div>
              <label>Título</label>
              <input type="text" formControlName="songName" (keyup.enter)="addSong()">
              <!--display error message if street is not valid-->
              <small [hidden]="preferences.controls.songs.controls[i].controls.songName.valid">
                Necesitamos por lo menos el título de la canción :)
              </small>
            </div>
          </div>
        </div>
      </div>
    </form>
    <div class="col s12">
      <p>{{preferences.value | json}}</p>
    </div>
    </div>
    </div>
