<div class="main-container">
  <section class="valign-wrapper">
    <div class="row center-align">
      <h5 class="story-header">10 de Noviembre de 2018 a las 12:30 horas en el Restaurante Abades Triana</h5>
    </div>
  </section>
  <div class="row center-align">
    <app-animable>
      <img class="responsive-img" src="assets/img/boda_angel.jpg">
    </app-animable>
  </div>
  <div class="row center-align">
    <section class="valign-wrapper small">
      <div class="row center-align">
        <h5 class="story-header">
          Además de venir elegantes, os recomendamos que vengáis cómodos, porque el plan es
        </h5>
      </div>
    </section>
    <section class="valign-wrapper small">
      <div class="row center-align">
        <app-flying-list>
          <p class="col s12 section-paragraph grey-text text-darken-3">Ceremonia</p>
        </app-flying-list>
      </div>
    </section>
    <section class="valign-wrapper small">
      <div class="row center-align">
        <app-flying-list>
          <p class="col s12 section-paragraph grey-text text-darken-3">Cóctel</p>
        </app-flying-list>
      </div>
    </section>
    <section class="valign-wrapper small">
      <div class="row center-align">
        <app-flying-list>
          <p class="col s12 section-paragraph grey-text text-darken-3">Almuerzo</p>
        </app-flying-list>
      </div>
    </section>
    <section class="valign-wrapper small">
      <div class="row center-align">
        <app-flying-list>
          <p class="col s12 section-paragraph grey-text text-darken-3">Baile y copas</p>
        </app-flying-list>
      </div>
    </section>
  </div>
  <section class="valign-wrapper">
      <div class="row center-align">
          <div class="col s12">
              <div class="card-panel teal lighten-3 section-paragraph">
                <span class="white-text">Para asistir es muy importante que confirméis vuestra asistencia pinchando arriba en <a class="teal-text" href="confirm">me apunto</a>
                </span>
              </div>
            </div>
      </div>
    </section>
  <div class="row center-align">
    <p class="col s12 section-paragraph grey-text text-darken-3">
      Si queréis darnos alguna sorpresa, podéis contactar con nuestra wedding planner
    </p>
    <p class="col s12 section-paragraph grey-text text-darken-3">
      María Martínez
    </p>
    <p class="col s12 section-paragraph grey-text text-darken-3">
      maria (@) loveatope.com
    </p>
    <p>
      <a href="http://www.loveatope.com" target="_blank">
        <img class="responsive-img" src="assets/img/lat-logo.png"/>
      </a>
    </p>
  </div>
</div>
