<div class="main-container">
  <section class="valign-wrapper">
    <div class="row center-align">
      <h5 class="story-header">10 de Noviembre de 2018 a las 12 en el Restaurante Abades Triana</h5>
    </div>
  </section>
  <div class="row center-align">
    <app-animable>
        <img src="assets/img/boda_angel.jpg">
    </app-animable>
  </div>
  <div class="row center-align">
    <section class="valign-wrapper">
      <div class="row center-align">
        <p class="col s12 section-paragraph grey-text text-darken-3">
          Además de venir elegantes, os recomendamos que vengáis cómodos, porque el plan es:
        </p>
      </div>
    </section>
    <section class="valign-wrapper small">
      <div class="row center-align">
        <h5 class="story-header">Ceremonia</h5>
      </div>
    </section>
    <section class="valign-wrapper small">
      <div class="row center-align">
        <h5 class="story-header">Cóctel</h5>
      </div>
    </section>
    <section class="valign-wrapper small">
      <div class="row center-align">
        <h5 class="story-header">Almuerzo</h5>
      </div>
    </section>
    <section class="valign-wrapper small">
      <div class="row center-align">
        <h5 class="story-header">Baile y copas</h5>
      </div>
    </section>
  </div>
</div>
