<div class="container">
  <p class="flow-text">
    Nos gustaría hacerte unas preguntas al confirmar tu asistencia y para eso tienes que iniciar sesión.
  </p>
  <p class="flow-text">
    Si tienes una cuenta de Google (como un correo de gmail), simplemente pulsa en Google.
  </p>
  <p class="flow-text">
    Si no, puedes entrar con tu número de teléfono, pulsa en Teléfono.
  </p>
  <div class="row">
    <div class="col s12 l6 center" (click)="googleLogin()">
      <a><img src="assets/img/btn_google_signin_dark_normal_web.png"></a>
    </div>
    <div class="col s12 l6 center">
      <a class="waves-effect waves-light btn-large"><i class="material-icons left">phone</i>Tel&eacute;fono</a>
    </div>
  </div>
</div>
