<div class="container">
  <p class="flow-text">
    Nos gustaría hacerte unas preguntas al confirmar tu asistencia y para eso tienes que iniciar sesión.
  </p>
  <p class="flow-text">
    Si tienes una cuenta de Google (como un correo de gmail), simplemente pulsa en Google.
  </p>
  <p class="flow-text">
    Si no, puedes entrar con tu email y una contraseña, pulsa en Email.
  </p>
  <div class="row">
    <div class="col s12 l6 center" (click)="googleLogin()">
      <a>
        <img src="assets/img/btn_google_signin_dark_normal_web.png">
      </a>
    </div>
    <div class="col s12 l6 center">
      <a class="waves-effect waves-light btn-large" (click)="emailLogin()">
        <i class="material-icons left">email</i>Email</a>
    </div>
  </div>
</div>
