/* You can add global styles to this file, and also import other style files */
html {
  font-family: "Lato", sans-serif !important;
}

.main-container {
  padding-left: 3em;
  padding-right: 3em;
}

section {
  height: 300px;
}

.small {
  height: 100px;
}

.w100 {
  width: 100%;
}

.section-paragraph {
  font-family: 'Fira Sans', sans-serif;
  font-size: 22px;
}
